@page "/events/{categoryname?}"
@rendermode InteractiveServer

<div class="jumbotron jumbotron-@CategoryName-event pt-5">
    <div class="container">
        <h2 class="display-5 text-danger text-center" style="font-weight:600;">
            <strong style="-webkit-text-stroke: white 1px;">@(($"{CategoryName} EVENTS").ToUpper())</strong>
        </h2>
    </div>
</div>
<div class="container-fluid event-container pt-4 pb-5 bg-dark">
    <p class="h2 fw-bold text-center">Upcomming @CategoryName event</p>
    <div class="row">
        @if (UpComingEvents is not null)
            for (int i = 0; i < UpComingEvents.Count; i++)
            {
                <div class="col-lg-3 col-md-4 mb-3 px-1 card-container"
                     style="@(CurrentGroup_Up == GetGroup(i) ? "display: block;" : "display: none;")">
                    <div class="card bg-dark text-white border-secondary">
                        <div class="img-container" style="height: 12rem; overflow: hidden;">
                            <img src="@UpComingEvents[i].Image"
                                 class="card-img-top" alt="Event Image"
                                 style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@UpComingEvents[i].Title</h5>
                            <p class="card-text">@UpComingEvents[i].ShortDescription</p>
                            <small class="text-end text-secondary">@UpComingEvents[i].Country - @UpComingEvents[i].StartDate</small>
                        </div>
                        <a href="/events/@UpComingEvents[i].Id" class="card-link p-2 text-center">Enter</a>
                        <div class="container px-2 pb-3">
                            <div class="progress bg-black">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: @(processDays[i] + "%");" aria-valuemax="80">
                                </div>
                                <div class="ps-2">
                                    start in @CalcUpcommingDate(UpComingEvents[i].StartDate) days
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
    </div>
    <div class="pagination-dots text-center">
        @for (int i = 1; i <= TotalUpComingGroups; i++)
        {
            int selected = i;
            string filter = "upcomming";
            <span class="dot @(CurrentGroup_Up == selected ? "active" : "")"
                  @onclick="() => ShowGroup(selected, filter)"></span>
        }
    </div>
    <hr />
    <div class="row mb-3">
        <div class="col-md-3">
            <span class="h5 fw-bold ">Other @CategoryName event</span>
        </div>
        <div class="col-md-9">
            <form class="container-fluid">
                <div class="input-group justify-content-end">
                    <input type="text" class="form-control border-0" placeholder="Search on @(CategoryName)." aria-label="Search" aria-describedby="navbar-search" style="max-width:350px;">
                </div>
            </form>
        </div>
    </div>
    <div class="row overflow-x-auto">
        @if (AllEvents is not null)
            for (int i = 0; i < AllEvents.Count(); i++)
            {
                <div class="col-lg-3 col-md-4 mb-3 px-1 card-container"
                     style="@(CurrentGroup_All == GetGroup(i) ? "display: block;" : "display: none;")">
                    <div class="card bg-dark text-white border-secondary">
                        <div class="img-container" style="height: 12rem; overflow: hidden;">
                            <img src="@AllEvents[i].Image"
                                 class="card-img-top" alt="Event Image"
                                 style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@AllEvents[i].Title</h5>
                            <p class="card-text">@AllEvents[i].ShortDescription</p>
                            <small class="text-end text-secondary">@AllEvents[i].Country - @AllEvents[i].StartDate</small>
                        </div>
                        <a href="/events/@AllEvents[i].Id" class="card-link p-2 text-center">Enter</a>
                    </div>
                </div>
            }
    </div>
    <div class="pagination-dots text-center">
        @for (int i = 1; i <= TotalUpAllGroups; i++)
        {
            int selected = i;
            <span class="dot @(CurrentGroup_All == selected ? "active" : "")"
                  @onclick="() => ShowGroup(selected)"></span>
        }
    </div>
</div>

@code {
    [Inject]
    private EventManagementSystem.DataAccess.Repository.IEventRepository _eventRepository { get; set; } = default!;

    public List<Event>? AllEvents { get; private set; }
    public List<Event>? UpComingEvents { get; private set; }

    private int CurrentGroup_Up { get; set; } = 1;
    private int CurrentGroup_All { get; set; } = 1;

    private int TotalUpComingGroups { get; set; } = default;
    private int TotalUpAllGroups { get; set; } = default;

    private Random rnd = new Random();

    [Parameter]
    public string? CategoryName { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        CategoryName ??= string.Empty;
        AllEvents = [.. await _eventRepository.GetAllByTypeAsync(CategoryName)];

        if (AllEvents is not null)
        {
            UpComingEvents = [.. AllEvents.OrderBy(e => e.StartDate).Take(12)];

            AllEvents = AllEvents.Where(ae => !UpComingEvents.Contains(ae)).ToList();

            TotalUpAllGroups = (int)Math.Ceiling((double)AllEvents.Count() / 4);
            TotalUpComingGroups = (int)Math.Ceiling((double)UpComingEvents.Count() / 4);

            CalcWidthProcress(UpComingEvents);
        }
    }

    private int GetGroup(int index)
    {
        return index / (3 + 1) + 1;
    }

    private void ShowGroup(int group, string filter = "all")
    {
        if (filter == "upcomming")
            CurrentGroup_Up = group;
        else
            CurrentGroup_All = group;
    }

    private int CalcUpcommingDate(DateOnly dateOnly)
    {
        var days = (dateOnly.ToDateTime(new TimeOnly(0)) - DateTime.Now).Days;
        return days;
    }

    private List<int> processDays = [];
    private void CalcWidthProcress(List<Event> events)
    {
        int maxDay = 0;
        foreach (var ev in events)
        {
            var day = (ev.StartDate.ToDateTime(new TimeOnly(0)) - DateTime.Now).Days;
            if (maxDay < day)
                maxDay = day;
            processDays.Add(day);
        }

        for (int i = 0; i < processDays.Count; i++)
        {
            processDays[i] = (int)((float)processDays[i] / maxDay * 60);
        }
    }
}