@model EventViewModel
<div class="container bg-dark py-5 px-5">
    <form class="px-md-5" method="post">
    <div asp-validation-for="All" class="text-danger"></div>
        <fieldset class="px-lg-5">
            <legend class="text-center h1 fw-bold">CREATE EVENT</legend>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label asp-for="@Model.Event.Title" class="form-label mt-4">Title</label>
                        <input asp-for="@Model.Event.Title" type="text" class="form-control" placeholder="required*">
                        <span asp-validation-for="@Model.Event.Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label asp-for="@Model.Event.ShortDescription" class="form-label mt-4">Short Description</label>
                        <textarea asp-for="@Model.Event.ShortDescription" class="form-control" rows="1" placeholder="Maximum 50 words"></textarea>
                    </div>
                </div>
            </div>
            <div>
                <label  asp-for="@Model.Event.Description" class="form-label mt-4">Full Description</label>
                <textarea asp-for="@Model.Event.Description" class="form-control" rows="3" placeholder="Maximum 1000 words"></textarea>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="@Model.Event.StartDate" class="form-label mt-4">Start Event Date</label>
                    <input asp-for="@Model.Event.StartDate" class="form-control" type="date" name="startEventDate">
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Event.EndDate" class="form-label mt-4">End Event Date</label>
                    <input asp-for="@Model.Event.EndDate" class="form-control" type="date" name="endEventDate">
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Event.VenueName" class="form-label mt-4">Venue Name</label>
                    <input asp-for="@Model.Event.VenueName" type="text" class="form-control"placeholder="Venue Name">
                </div>
            </div>

            <div class="row mt-4 d-flex justify-content-center">
                @*Map*@
                <div class="col-12" id="map" style="width: 1000px; height: 320px;"></div>
                <div class="col-md-6 mt-2">
                    <div class="input-group input-group-sm">
                        <span asp-for="@Model.Event.Latitude" class="input-group-text">Latitude</span>
                        <input asp-for="@Model.Event.Latitude" id="latitude" type="text" class="form-control w-25" aria-label="latitude input" disabled="">
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Longitude</span>
                        <input id="longitude" type="text" class="form-control w-25" aria-label="longitude input" aria-describedby="inputGroup-sizing-sm" disabled="">
                    </div>
                </div>
            </div>
            @*<div class="mt-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.8354345090644!2d144.9630576156693!3d-37.81410797975159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf577b68364c12aef!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1618973873610!5m2!1sen!2sau"
                            width="600"
                            height="450"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"></iframe>
                </div>*@
            <div class="row">
                <div class="col-md-4">
                    <label for="countryName" class="form-label mt-4">Country</label>
                    <input type="text" class="form-control" id="countryName" placeholder="required">
                </div>
                <div class="col-md-8">
                    <label for="addressName" class="form-label mt-4">Address</label>
                    <input type="text" class="form-control" id="addressName" placeholder="required">
                </div>
            </div>
            <div>
                <label for="formFile" class="form-label mt-4">Image</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div></div>
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend class="mt-4">Categories*</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="categoriesRadios" id="categoriesRadios1" value="option1" checked="">
                            <label class="form-check-label" for="categoriesRadios1">
                                Sport
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="categoriesRadios" id="categoriesRadios2" value="option2">
                            <label class="form-check-label" for="optionsRadios2">
                                Conferences
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend class="mt-4">Transports</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Car
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked="">
                            <label class="form-check-label" for="flexCheckChecked">
                                Airplane
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div>
                <label for="ticketTpyeCount" class="form-label mt-4">Number of Ticket type</label>
                <select class="form-select w-auto" id="ticketTpyeCount">
                    <option value="0" selected>Free</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <div id="ticketTypesContainer">
                    @*<div class="row">
                            <div class="col-12">
                                <hr />
                                <span class="text-secondary">Ticket type #1</span>
                            </div>
                            <div class="col-6">
                                <label for="ticketName" class="form-label mt-4">Name</label>
                                <input type="text" class="form-control" id="ticketName" placeholder="name">
                            </div>
                            <div class="col-6">
                                <label for="ticketName" class="form-label mt-4">Detail</label>
                                <input type="text" class="form-control" id="ticketName" placeholder="detail">
                            </div>
                            <div class="col-6">
                                <label for="ticketName" class="form-label mt-4">Price</label>
                                <input type="text" class="form-control" id="ticketName" placeholder="price">
                            </div>
                            <div class="col-6">
                                <label for="ticketName" class="form-label mt-4">Max Capital</label>
                                <input type="text" class="form-control" id="ticketName" placeholder="max">
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="mt-4 text-end">
                <button class="btn btn-outline-success">Create Event</button>
            </div>
        </fieldset>
    </form>
</div>


<script>
    // Map
    const _lat = document.getElementById("latitude");
    const _long = document.getElementById("longitude");
    const initialMap = [13.736717, 100.523186];

    let map = L.map('map').setView(initialMap, 6);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let marker = L.marker(initialMap).addTo(map);

    function onMapClick(e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng).addTo(map);

        const latitude = e.latlng.lat;
        const longitude = e.latlng.lng

        _lat.value = latitude;
        _long.value = longitude;
        getCountryAndCity(latitude, longitude);
    }
    map.on('click', onMapClick);

    // Get Country and City
    const _countryName = document.getElementById("countryName");
    const _addressName = document.getElementById("addressName");
    function getCountryAndCity(lat, lng) {
        var url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}&zoom=10&addressdetails=1`;

        fetch(url)
            .then((res) => res.json())
            .then((data) => {
                _countryName.value = data.address.country;

                const boundaryAddress = ["quarter", "suburb", "city", "postcode", "town", "state", "municipality", "county"];
                const address = []
                Object.entries(data.address).forEach(([key, value]) => {
                    if (value !== undefined && boundaryAddress.includes(key))
                        address.push(value)
                    console.log(`${key}, ${value}`)
                })

                _addressName.value = address.join(", ");
            })
            .catch(err => {
                console.log(err);
            })
    }

    //Add number of tickettype
    document.getElementById("ticketTpyeCount").addEventListener("change", function () {
        const ticketTypeCount = parseInt(this.value);
        const ticketTypeContainer = document.getElementById("ticketTypesContainer");
        ticketTypeContainer.innerHTML = "";

        for (let i = 0; i < ticketTypeCount; i++) {
            const ticketType = document.createElement("div");
            ticketType.className = "row"

            ticketType.innerHTML = `
                        <div class="col-12">
                        <hr />
                        <span class="text-secondary">Ticket type No.${i + 1}</span>
                        </div>
                        <div class="col-md-6">
                            <label for="ticketName${i + 1}" class="form-label mt-4">Ticket type</label>
                            <span class="text-secondary">#${i + 1}</span>
                            <input type="text" class="form-control" id="ticketName${i + 1}" placeholder="name">
                        </div>
                        <div class="col-md-6">
                            <label for="ticketDetail${i + 1}" class="form-label mt-4">Detail</label>
                            <span class="text-secondary">#${i + 1}</span>
                            <input type="text" class="form-control" id="ticketDetail${i + 1}" placeholder="detail">
                        </div>
                        <div class="col-md-6">
                            <label for="ticketPrice${i + 1}" class="form-label mt-4">Price</label>
                            <span class="text-secondary">#${i + 1}</span>
                            <input type="text" class="form-control" id="ticketPrice${i + 1}" placeholder="price">
                        </div>
                        <div class="col-md-6">
                            <label for="ticketCapital${i + 1}" class="form-label mt-4">Max Capital</label>
                            <span class="text-secondary">#${i + 1}</span>
                            <input type="text" class="form-control" id="ticketCapital${i + 1}" placeholder="max capital">
                        </div>
            `;
            ticketTypeContainer.appendChild(ticketType);
        }
    });
    // Trigger change event on page load to initialize the form
    document.getElementById("ticketTpyeCount").dispatchEvent(new Event("change"));
</script>